@model OrderPlatform.Models.WarehouseProductModel

@using (Html.BeginCollectionItem("warehouseProductList"))
{
    <tr>
        <td>
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.warehouseId)
            @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.DropDownListFor(model => model.productId, new SelectList(ViewBag.productList, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
        </td>
        <td>
            <a href="/Warehouse/DeleteWarehouseProduct/@Model.id" class="deleteRow">Delete</a>
        </td>
    </tr>
}